######################################
##      config file                 ##
##  Be sure be sure to edit the     ##
##lib64 line to reflect your distro ##
######################################


allowed_hosts=127.0.0.1,129.21.49.246



command[check_load]=/usr/lib/nagios/plugins/check_load -w .75,.50,.25 -c 1.5,1.25,1
command[check_swap]=/usr/lib/nagios/plugins/check_swap -w 20% -c 10%
command[check_ntp_time]=/usr/lib/nagios/plugins/check_ntp_time -H ntp.csh.rit.edu -w 0.5 -c 1
command[check_yum]=/usr/lib/nagios/plugins/check_yum
command[check_apt]=/usr/lib/nagios/plugins/check_apt -n
command[check_ide_smart]=/usr/lib/nagios/plugins/check_ide_smart -n -d /dev/sda
command[check_bind]=/usr/lib/nagios/plugins/check_bind.sh -C /var/named/chroot -p /var/run/ -n named.pid -N
